.laser {
  width: 20px;
  height: 40px;
  position: absolute;
  background-image: url('../../assets/images/effects/fire00.png');
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 38px;
  top: -80px;
}
