
.gamePage {
  position: relative;
  height: 100vh;
  color: white;

  &_gameField {
    position: relative;
    height: 90vh;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  &_user_track {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
  }

  &_user_ship {
    width: 100px;
    height: 80px;
    background-image: url('../../assets/images/damage/playerShip1_damage3.png'), url('../../assets/images/damage/playerShip1_damage2.png'), url('../../assets/images/damage/playerShip1_damage1.png'), url('../../assets/images/player-ships/playerShip1_green.png');
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    left: calc(50% - 50px);
  }

  &_header {
    height: 10vh;
    font-size: 1.6rem;

    &_item {
      padding: 0 20px;
    }
  }
}

.move {
  &_left {
    transition: all 0.2s;
    transform: rotate(-5deg) scaleX(0.75);
  }

  &_right {
    transition: all 0.2s;
    transform: rotate(5deg) scaleX(0.75);
  }
}
