.options {
	&_block {
		position: fixed;
		height: 80vh;
		top: 10vh;
		border: 2px solid rgba(26, 238, 25, 0.5);
		background-color: #121012;
		z-index: 100;
		margin: 0 auto;
		left: 10vw;
		width: 80vw;
	}
}
